html {
	margin: 0;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	color: #666;
}

img {
	border: 0;
}

a {
	text-decoration: none;
}

/**
 * 	fix
 */
.clearfix {
	clear: both;
}

.right {
	float: right;
}

.left {
	float: left;
}

/**
 * 	layout
 */
.container {
	position: relative;
	width: 100%;
	min-width: 1000px;
	min-height: 700px;
	background-image: url(../img/layout/bg.png);
}

/*
 * top
 */
.topBox {
	position: absolute;
	height: 111px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #fff;
	box-shadow: 0px 2px 1px #ccc;
	z-index: 1001;
	opacity: 1;
}

.logo {
	position: absolute;
	left: 10px;
	top: 10px;
	width: 150px;
	height: 60px;
}

/**
 * 	nav box
 */
.navBox {
	position: absolute;
	top: 80px;
	width: 100%;
	padding: 5px 0;
	height: 20px;
	background-color: #ffa244;
	border-top: 1px solid #ec7600;
}

.navMenu {
	width: 900px;
	margin: 0 auto;
	color: #fff;
	font-size: 15px;
}

.navItem {
	float: left;
	padding: 0 15px;
	font-weight: bold;
	cursor: pointer;
}

.navItem:hover {
	background-color: #ffb871;
}

/**
 * 	search advanced
 */
.searchAdvBox {
	position: absolute;
	padding: 10px;
	top: 80px;
	background-color: #333;
	left: 320px;
	min-width: 300px;
	box-shadow: 0px 2px 4px #000;
	opacity: 0.9;
	display: none;
}

/**
 * 	content
 */
.contentBox {
	width: 100%;
	height: 100%;
	z-index: 0;
	float: left;
	position: relative;
}

.mapBox {
	width: 100%;
	height: 100%;
}

/**
 * 	left
 */
.leftBox {

	position: absolute;
	left: -320px;
	top: 80px;
	background-color: #000;
	box-shadow: 2px 2px 2px #999;
	z-index: 1;
	width: 320px;
	height: 100%;
	opacity: 0.8;
}

/**
 * 	like
 */
.likeBtn {
	padding: 5px 10px;
	color: #5a9ee9;
	border: 1px solid #e0e0e0;
	box-shadow: 0px 2px 1px #ccc;
}

/**
 * 	footer
 */
.footer {
	text-align: center;
	font-size: 15px;
	color: #666;
	padding: 20px 0;
	font-family: Arial;
}
