
.resEditBox {
	width: 800px;
	margin: 0 auto;
	padding: 111px 0 0 0;
	background-color:#fff;
	box-shadow: 0px 2px 2px #ccc;


}


.resEditTitle {
	padding: 20px 10px;
	margin: 0 0 20px 0;

	color:#5a9ee9;
	font-size: 24px;

	border-bottom: 1px solid #e0e0e0;
	background-color:#fff;
}

.resEditContainer {
	padding: 10px 0;
	border-bottom: 1px solid #e0e0e0;
}

.resEditLabel {
	float:left;
	width: 120px;
	color:#000;
	font-size: 20px;

	margin: 10px;
	border-right: 1px solid #e0e0e0;
	font-weight: 800;
}



.resEditInput {
	float:right;
	overflow:hidden;
	width: 650px;
}

.resPriodItem {
	border-bottom: 1px solid #e0e0e0;
	padding: 10px 0;
}

.resEditInput input[type=text] {
	padding: 8px 0;
	margin: 0 10px;
	border: 0;
	border-bottom: 1px solid #ff8b16;
	width: 615px;

	/*
	background-color:#fff;

	border-radius: 5px;

	*/
	background-image: url(../img/layout/input_arrow.png);
	background-position: right bottom;
	background-repeat: no-repeat;
	
}

.resEditInput select {
	padding : 5px;
	border: 1px solid #e0e0e0;
	margin: 5px;
	box-shadow: 0px 1px 3px #e0e0e0 inset;
	border-radius: 3px;
}


.resEditHelp {
	color:#666;
	font-size: 11px;
	padding: 10px;
	border-bottom: 1px solid #e0e0e0;
	background-color:#f9f9f9;
}

.resEditMap {
	position: relative;
	height: 400px;
	box-shadow: 0px 0px 4px #333 inset;
}

.resMapTopShadow {
	position:absolute;
	top:0;

	left: 0;
	width: 100%;
	height: 1px;
	box-shadow: 0px -1px 1px #999;
	background-color:#e0e0e0;
	z-index: 1000;
}

.resMapBottomShadow {
	position:absolute;
	z-index: 1000;
	width: 100%;
	height: 1px;
	bottom:0;
	left: 0;
	background-color:#e0e0e0;
	box-shadow: 0px 1px 1px #999;
}

/**
 * 	resEditDateSelectItem
 */

.resEditDateItem {
	padding: 0px 0;
}

.dateTitle {
	float:left;
	width: 100px;
	font-weight: bold;
	padding: 10px 0;
}

.dateTime {
	float:left;
}


.dateTimeTag {
	padding: 10px 0;
	width: 100px;
	float:left;
}

.dateTimeStep {
	float:left;
}

.dateOtherBar {
	float:right;


	padding: 0 10px;
}

.dateSetAllBtn {
	color:#666;
	padding: 5px 15px;
	border: 1px solid #e0e0e0;
	box-shadow: 0px 1px 1px #ccc;
	font-size: 13px;
	margin: 0 0 18px 0;

	cursor: pointer;
	
	width: 110px;
	text-align: center;
}

.dateSetAllBtn:hover {
	background-color:#f7f7f7;
}

.addNewPeriodBtn {
	color:#666;
	padding: 5px 15px;
	border: 1px solid #5a9ee9;
	box-shadow: 0px 1px 1px #ccc;
	font-size: 13px;
	margin: 0 0 18px 0;

	cursor: pointer;
	width: 110px;
	text-align: center;
}

.addNewPeriodBtn:hover {
	background-color:#f7f7f7;
}

.detailSetWeekBtn {
	color:#666;
	padding: 5px 15px;
	border: 1px solid #688f16;
	box-shadow: 0px 1px 1px #ccc;
	font-size: 13px;
	background-color:#fff;

	cursor: pointer;
	width: 110px;
	text-align: center;
}


.detailSetWeekBtn:hover {
	background-color:#688f16;
	color:#fff;
}
/**
 * 	file
 */

.resEditInput input[type=file] {
	padding: 5px 0;
	width: 640px;
}

.resEditGalleryInputItem {
	padding: 5px 0;
	width: 640px;

	border-bottom: 1px solid #e0e0e0;
}

/**
 * 	preview
 */

.previewBtn {
	padding: 15px 0;
	margin: 20px 10px;
	border: 1px solid #000;
	color:#fff;
	font-size: 18px;
	text-align: center;
	box-shadow: 0px 1px 1px #333;
	border-radius: 4px;
	cursor: pointer;

	background: rgb(50,52,56); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(50,52,56,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,52,56,1)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(50,52,56,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(50,52,56,1) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(50,52,56,1) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(50,52,56,1) 0%,rgba(0,0,0,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#323438', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

	float:left;
	width: 378px;
}


.previewBtn:hover {
	background: rgb(0,0,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(50,52,56,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(50,52,56,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(50,52,56,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(50,52,56,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(50,52,56,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(50,52,56,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#323438',GradientType=0 ); /* IE6-9 */

}

/**
 * 	post
 */


.postBtn {
	padding: 15px 0;
	margin: 20px 10px;
	border: 1px solid #333;

	background: rgb(201,4,27); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(201,4,27,1) 0%, rgba(150,0,15,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(201,4,27,1)), color-stop(100%,rgba(150,0,15,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(201,4,27,1) 0%,rgba(150,0,15,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(201,4,27,1) 0%,rgba(150,0,15,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(201,4,27,1) 0%,rgba(150,0,15,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(201,4,27,1) 0%,rgba(150,0,15,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9041b', endColorstr='#96000f',GradientType=0 ); /* IE6-9 */

	color:#fff;
	font-size: 18px;
	text-align: center;
	box-shadow: 0px 1px 1px #555;
	border-radius: 4px;
	cursor: pointer;
	float:right;

	width: 378px;
}

.postBtn:hover {
	background: rgb(150,0,15); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(150,0,15,1) 0%, rgba(201,4,27,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(150,0,15,1)), color-stop(100%,rgba(201,4,27,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(150,0,15,1) 0%,rgba(201,4,27,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(150,0,15,1) 0%,rgba(201,4,27,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(150,0,15,1) 0%,rgba(201,4,27,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(150,0,15,1) 0%,rgba(201,4,27,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#96000f', endColorstr='#c9041b',GradientType=0 ); /* IE6-9 */

}

/**
 * 	serivce
 */

.resServiceBox {
	float:right;
	width: 650px;
}

.resServiceItem {
	float:left;
	margin: 5px 25px 5px 0;
}

.resServiceItem input[type=checkbox] {
	display: none;
}

.resServiceItem input[type=checkbox] + label.checkboxLabel {
	height: 19px;
	padding: 5px 0 5px 24px;
	height:25px;
	margin:-1px 4px 0 0;
	vertical-align:middle;
	background: url(../img/icon/checkbox-01.png) left center no-repeat;
	display: inline-block;
	cursor: pointer;
}

.resServiceItem input[type=checkbox]:checked + label.checkboxLabel {
	background: url(../img/icon/checkbox-02.png) left center no-repeat;
}

/**
 * 	daliyItem
 */

.daliyItem {
	display: none;
}

.vacationChecItem {
	
	display: none;
}

.vacationCheckBox {
}


