# Framework files

config/development
logs/log-*.php
!logs/index.html
cache/*
!cache/index.html
!cache/.htaccess

# ORM proxy files

apps/Proxies/*

# Aptana files

.project

# Design files

*.ai
*.psd

# User upload data

tmp/*
!tmp/index.html
upload/*
!upload/index.html
