/* Use PHP load
 <?php
 // constants
 $itemFontSize = 16;
 $itemHeight = 21;
 $itemBorder = 2;
 // params
 $radius = isset($radius) ? $radius : '300';
 $panelHalf = isset($panelHalf) ? $panelHalf : '350';

 ?> */

.funBoxByRoulette {
	position: absolute;
	height: <?php echo $panelHalf * 2 , 'px'; ?>;
	width: <?php echo $panelHalf * 2 , 'px'; ?>;
}

.funRoulette {
	position: relative;
	height: <?php echo $radius * 2 , 'px'; ?>;
	width: <?php echo $radius * 2 , 'px'; ?>;
	top: <?php echo $panelHalf - $radius - 5 , 'px'; ?>;
	left: <?php echo $panelHalf - $radius - 5 , 'px'; ?>;
	border-radius: <?php echo $panelHalf, 'px'; ?>;
	border: 10px solid #5a9ee9;
}

.funRouletteRun{
	-webkit-animation: RouletteAnimation 5s infinite linear;
	-moz-animation: RouletteAnimation 5s infinite linear;
	-o-animation: RouletteAnimation 5s infinite linear;
}

.funStartBtn {
	position: absolute;
	top: 20px;
	right: 0;
	min-width: 150px;
	background-color: #2DD32D;
	opacity: 0.9;
	color: #222;
	box-shadow: 0px 2px 2px #666;
	padding: 10px;
	z-index: 1001;
}

.funState {
	position: absolute;
	top: 20px;
	left: 0;
	min-width: 150px;
	background-color: #2DD32D;
	opacity: 0.9;
	color: #222;
	box-shadow: 0px 2px 2px #666;
	padding: 10px;
	z-index: 1001;
}

.funRouletteArrow {
	position: absolute;
	top : <?php echo $panelHalf - 24 , 'px'; ?>;
	right : 0;
	border-top: 25px solid white;
	border-right: 25px solid #EF2D89;
	border-bottom: 25px solid white;
}

div.funListItem {
	position: absolute;
	min-width: <?php echo $radius * 2 , 'px'; ?>;
	min-height: <?php echo $itemHeight  , 'px'; ?>;
	top : <?php echo $radius - $itemHeight / 2 , 'px'; ?>;
	left : 0px;
}

div.funListContent {
	position: relative;
	width: <?php echo $radius , 'px'; ?>;
	top : <?php echo '-' , ($itemHeight - $itemBorder / 2) / 2 ,'px' ?>;
	padding-left : 0px;
	margin-left : auto;
	text-align : right;
	border-bottom : <?php echo $itemBorder; ?>px solid #333;
}

@-webkit-keyframes RouletteAnimation {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes RouletteAnimation {
	from { -moz-transform: rotate(0deg);}
	to { -moz-transform: rotate(360deg); }
}

@-o-keyframes RouletteAnimation {
	from { -moz-transform: rotate(0deg);}
	to { -moz-transform: rotate(360deg); }
}